<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta name="description" content="lain.rocks, the c00l place on the internet"/>
			<meta name="keywords" content="lain, xmpp, xmpp server, im"/>
			<meta name="author" content="tyt4real"/>

			<link href="/css/bootstrap.min.css" rel="stylesheet"/>
			<link rel="icon" type="image/x-icon" href="../images/favicon.ico"/>
			<link href="/css/style.css" rel="stylesheet"/>
            <!-- <link href="../css/4chanstyles.css" rel="stylesheet"/> -->
			<title>lainboard |
				{% block title %}{% endblock %}
			</title>
		{% endblock %}
	</head>
	<body>
		 <script src="/js/styleinit.js"></script>
		 <script src="/js/themeManager.js"></script>
		 	<div id="top-bar">
				<div id="left-topbar">
					<!-- board list maybe some other links
					stuff on the left -->
				</div>
				<div id="right-topbar">
					<!-- Future JS Settings tab and login for admins/mods and maybe other interesting stuff -->
					{{ renderRightSideTopBar() }}
				</div>
			</div>
			<div id="content">{% block content %}{% endblock %} </div>
			<img src="/images/laintransparent.png" class="bottom-right-image hide-on-mobile" id="lain">
			<img src="/images/yotsuba.png" class="bottom-right-image hide-on-mobile" id="yotsuba">
			<footer>
				{% block footer %}
					<div id="footer" style="text-align: center; bottom: 0;">
						{{ renderFooter() }}
					</div>
					<div class="theme-selector">
						<select id="theme-select">
							<option value="lainrocks">Default lainrocks</option>
							<option value="yotsuba">Yotsuba</option>
						</select>
						<div class="pagination-wrapper">
							{{ renderPagination() }}
						</div>
						<!-- <div id="bottom-bar">
								Copyleft lain.rocks (c) 2069
						</div> -->
					</div>
				{% endblock %}
			</footer>
		</body>
	</html>
